/* .datepicker.dropdown-menu {
    visibility: visible;
    opacity: 1;
    width: auto;
   } */

.form-control.is-valid, .form-control.is-invalid {
    background-image: none;
    padding-right: inherit;

}