.form-assigned-input.is-valid, .form-assigned-input.is-invalid, .form-dueDate-input.is-invalid, .form-dueDate-input.is-valid {
    background-image: none;
    padding-right: inherit;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}