.form-assigned-input.is-valid, .form-assigned-input.is-invalid, .form-dueDate-input.is-invalid, .form-dueDate-input.is-valid {
    background-image: none;
    padding-right: inherit;
}

/* footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
} */

/* to fix box size */
textarea {
    resize: none;
    height: 1000px;
}

h1 {
    text-align: center;

}

.reference {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#footer-text1 {
    padding: 20em, 0em;
    font-size: 1em;
}

#footer-text2 {
    padding: 20em, 0em;
    font-size: 0.8em;
    margin-bottom: 2em;
}